.App{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    .content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        background: rgb(230, 230, 230);
    }
    .main-content{
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        padding: 20px;
        box-sizing: border-box;
    }
    .primary{
        background-color: #682ab5!important;
    }
    .primary-dark{
        background-color: #5a259c!important;
    }
}