@import "../../../animations.scss";
.sidebar {
  box-sizing: border-box;
  min-height: 100%;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
  background-color: #333;
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
  .brand {
    display: flex;
    width: 100%;
    height: 63px;
    line-height: 0px;
    align-items: center;
    justify-content: center;
    .icon {
      left: 40px;
      font-size: 2em;
      margin: 0;
      padding: 0;
      transform: rotate(-45deg);
    }
    .title {
      font-size: 15pt;
    }
  }
  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0 !important;
    .header {
      background-color: #1a2226;
      margin-top: 0;
      color: #4b646f !important;
    }
  }
  li {
    display: flex;
    padding: 7px;
    padding-left: 15px;
    transition: all 0.4s;
    font-size: 12pt;
    width: 100%;
    &:hover {
      background: rgba($color: #000000, $alpha: 0.2);
      color: #fff;
    }
    a {
      width: 100%;
      color: #b8c7ce;
    }
    .showSidebar {
      animation-name: moveShow;
      animation-duration: 400ms;
      animation-fill-mode: forwards;
    }
    .hideSidebar {
      animation-name: moveHide;
      animation-duration: 400ms;
      animation-fill-mode: forwards;
    }
  }
}
