@import '../../animations.scss';
.sidebar{
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    .brand{
        display: flex;
        padding: 20px 0;
        .icon{
            left: 40px;
            font-size: 2em;
            margin: 0;
            padding: 0;
            color: rgb(82, 73, 73);
            transform: rotate(-45deg);
        }
        .title{
            font-size: 1.5em;
            color: rgb(82, 73, 73);
        }
    }
    ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    li{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        transition: all .4s;
        font-size: 1.4em;
        width: 100%;
        &:hover{
            background: #ccc;
        }
        a{
            width: 100%;
            text-align: center;
        }
        .showSidebar{
            animation-name: moveShow;
            animation-duration: 400ms;
            animation-fill-mode: forwards;
        }
        .hideSidebar{
            animation-name: moveHide;
            animation-duration: 400ms;
            animation-fill-mode: forwards;
        }
    }
}